.dark {
  // 通用
  --bg-color: 32, 32, 32; // 主背景色
  --content-bg: 38, 38, 38; // 内容区域背景色
  --link-color: rgb(134, 106, 183);
  --link-hover-color: rgb(147, 126, 183);
  --border-color: rgb(48, 48, 48); // 边框颜色
  --scroll-bar-color: rgb(65, 65, 65); // 滚动条颜色
  --font-color: 213, 213, 213; // 字体颜色
  --font-active-color: 251, 251, 251; // 字体高亮色
  --font-light-color: rgb(135, 135, 135); // 字体浅色
  --main-color: 103, 58, 183; // 主色
  --main-color-light: 134, 106, 183; // 主色浅一些
  --main-color-hover: rgba(103, 58, 183, 0.2); // 主色悬浮

  // 顶栏
  --header-height: 54px;
  --header-height-for-mobile: 45px;
  --header-font-color: rgb(140, 138, 138);
  --header-menu-active-color: rgb(251, 251, 251);
  --header-bg: 32, 32, 32; // 顶栏背景色
  --header-font-size-for-mobile: 14px;
  --header-border-color: linear-gradient(
    to right,
    rgba(var(--main-color), 0.7),
    rgba(var(--main-color), 0.7),
    rgba(var(--main-color), 1),
    rgba(var(--main-color), 1),
    rgba(var(--main-color), 1),
    rgba(var(--main-color), 0.7),
    rgba(var(--main-color), 0.7)
  );

  // 侧边栏
  --sidebar-width: 190px;
  --sidebar-bg: 32, 32, 32; // 侧边栏背景色
  --sidebar-active-bg: 32, 32, 32; // 侧边栏条目选中时背景色
  --sidebar-icon-color: 120, 120, 120; // 侧边栏图标颜色

  // input
  --input-bg-color: 52, 52, 52;
  --input-border-color: 33, 33, 33;
  --input-font-color: 184, 184, 184;
  --input-radius: 4px;
  --input-padding: 4px 8px;
  --input-default-width: auto;
  --input-default-height: 34px;
  --input-font-size: 14px;

  // button
  --button-bg: transparent;
  --button-hover-bg: rgb(48, 48, 48);
  --button-border-color: rgb(69, 69, 69);
  --button-border-style: solid;
  --button-font-color: rgb(179, 179, 179);
  --button-padding: 4px 24px;
  --button-height: 34px;
  --button-radius: 20px;
  --button-font-size: 14px;

  // button-primary
  --button-primary-font-color: rgb(251, 251, 251);
  --button-primary-border-style: solid;
  --button-primary-border-color: solid;
  --button-primary-bg: linear-gradient(
    to right,
    rgb(var(--main-color-light)),
    rgb(var(--main-color))
  );
  --button-primary-hover-bg: rgb(var(--main-color));

  // button-link
  --button-link-font-color: rgb(var(--main-color));
  --button-link-hover-color: rgb(var(--main-color-light));
  --button-link-padding: 4px 0px;

  // button-text
  --button-text-font-color: rgb(var(--font-color));
  --button-text-hover-color: rgb(var(--main-color-light));
  --button-text-padding: 4px 0px;

  // switch
  --switch-bg: rgb(0, 0, 0);
  --switch-focus-bg: rgb(var(--main-color));

  // 搜索页
  --search-item-bg: rgb(41, 41, 41); // 2n行背景色
  --search-item-hover-bg: rgb(50, 50, 50);

  // 表格
  --table-item-bg: rgb(41, 41, 41); // 2n-1行背景色
  --table-item-hover-bg: rgb(50, 50, 50);
  --table-item-action-bg: rgb(50, 50, 50);
  --table-font-color: rgb(142, 142, 142);
  --table-font-active-color: rgb(182, 182, 182);

  // 弹出框
  --modal-bg: rgb(54, 54, 54);
  --modal-font-color: rgb(185, 185, 185);

  // 菜单选项
  --menu-bg: rgb(54, 54, 54);
  --menu-border: rgb(96, 96, 96);
  --menu-shadow: rgba(135, 135, 135, 0.2);
  --menu-item-hover-bg: rgb(58, 58, 58);

  // 播放器
  --player-height: 64px;
  --player-bg: rgb(37, 37, 37);
  --player-progress-bg: rgb(30, 30, 30);
  --player-list-bg: rgb(54, 54, 54);
  --player-list-table-2n: rgb(58, 58, 58);

  // message
  --message-bg: rgb(54, 54, 54);
  --message-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;

  // popover
  --popover-bg: rgb(54, 54, 54);
  --popover-shadow: rgba(135, 135, 135, 0.2);
  --popover-padding: 8px 10px;
  --popover-radius: 4px;
  --popover-color: rgb(var(--font-color));
  --popover-font-size: 14px;

  // 滑块 slider
  --slider-bg: rgb(0, 0, 0);
  --slider-active-bg: rgb(var(--main-color));
  --slider-thumb-bg: rgb(251, 251, 251);
  --slider-thumb-hover-color: rgba(103, 58, 183, 0.4);
  --slider-thumb-focus-color: rgba(103, 58, 183, 0.4);

  // actionSheet
  --action-sheet-overlay: rgba(251, 251, 251, 0.2);
  --action-sheet-bg: rgb(0, 0, 0);
  --action-sheet-color: rgb(251, 251, 251);
  --action-sheet-item-padding: 16px;
  --action-sheet-item-disabled: #777;
  --action-sheet-title-color: #aaa;
  --action-sheet-item-border-color: rgba(251, 251, 251, 0.2);
  --action-sheet-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;

  /* 隐藏滚动条 */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* 自定义滚动条轨道 */
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  /* 自定义滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: 10px;
  }
}
