.input {
  height: var(--input-default-height);
  border: 1px solid rgb(var(--input-border-color));
  background: rgb(var(--input-bg-color));
  color: rgb(var(--input-font-color));
  border-radius: var(--input-radius);
  width: var(--input-default-width);
  outline: none;
  padding: var(--input-padding);
  font-size: var(--input-font-size);
}
