.player {
  position: relative;
  flex: 0 0 var(--player-height);
  height: var(--player-height);
  background: rgb(var(--player-bg));
  height: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  width: 100%;
  z-index: 90;
}
.progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  z-index: 91;
  background-color: var(--player-progress-bg);
  &::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: -5px;
    height: 10px;
    background: transparent;
  }

  .loaded {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    width: 100px;
    height: 2px;
    background-color: rgb(var(--main-color));
    .dot {
      position: absolute;
      right: -6px;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: rgb(var(--main-color));
      cursor: pointer;
      display: none;
    }
  }
  &:hover {
    .dot {
      display: block;
    }
  }
}

.info {
  display: flex;
  align-items: center;
  gap: 14px;
  flex: 0 0 300px;
  line-height: 1;
  .cover {
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
    background-color: #eee;
    border-radius: 4px;
  }
  .duration {
    font-size: 12px;
    display: flex;
    gap: 4px;
    color: var(--font-light-color);
  }
  .name {
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 8px;
  }
}
.playerOperate {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 24px;
  color: rgb(var(--main-color));
  .play {
    font-size: 40px;
  }
  .loading {
    animation: rotateLoop 1.2s linear infinite;
    opacity: 0.8;
  }
  .icon {
    cursor: pointer;
  }
}
.operate {
  flex: 0 0 300px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 24px;
  .icon {
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      color: rgb(var(--main-color));
    }
  }
}
.playerListContainer {
  position: fixed;
  top: var(--header-height);
  bottom: var(--player-height);
  right: 0;
  width: 420px;
  background-color: var(--player-list-bg);
  z-index: 90;
  display: flex;
  flex-direction: column;
  .headerInfo {
    padding: 16px 0;
    margin: 0 16px;
    border-bottom: 1px solid #404040;
    .title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 16px;
    }
    .total {
      color: var(--font-light-color);
      font-size: 12px;
    }
    .operateBtn {
      cursor: pointer;
    }
    .clear {
      color: var(--link-color);
      cursor: pointer;
      &:hover {
        color: var(--link-hover-color);
      }
    }
  }
  .list {
    flex: 1;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 100px;
    .name {
      display: flex;
      align-items: center;
      padding-left: 2px;
      .nameText {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;
      }
      &.active {
        color: rgb(var(--main-color-light));
        .icon {
          span {
            display: flex;
          }
        }
      }
      svg {
        font-size: 14px;
      }
      .icon {
        width: 14px;
        height: 14px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 2px;
        span {
          display: none;
        }
      }
    }
    tr {
      cursor: pointer;

      td {
        background-color: transparent;
      }
      &:nth-child(2n) {
        td {
          background-color: var(--player-list-table-2n);
        }
      }
    }
    td {
      &:last-of-type {
        text-align: right;
        padding-right: 16px;
      }
    }
  }
}

.playerListContainerForMobile {
  position: fixed;
  padding-top: 20vh;
  top: 0;
  bottom: var(--player-height);
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 90;
  display: flex;
  flex-direction: column;

  .headerInfo {
    background-color: var(--player-list-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 0.5px solid #404040;
    font-size: 12px;
    .title {
      font-size: 16px;
    }
    .operateBtn {
      cursor: pointer;
    }
    .clear {
      color: var(--link-color);
      cursor: pointer;
      &:hover {
        color: var(--link-hover-color);
      }
    }
  }
  .list {
    background-color: var(--player-list-bg);
    flex: 1;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 100px;
    .Item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 0.5px solid #444;
    }
    .Active {
      .PlayingIcon {
        opacity: 1;
      }
      .Name {
        color: rgb(var(--main-color-light));
      }
    }
    .Info {
      flex: 1;
      overflow: hidden;
    }
    .PlayingIcon {
      opacity: 0;
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(var(--main-color-light));
    }
    .OperateList {
      display: flex;
      align-items: center;
      font-size: 16px;
    }
    .Operate {
      padding: 16px 10px;
      font-size: 18px;
      cursor: pointer;
    }
    .Name {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      margin-bottom: 8px;
    }
    .Tags {
      display: flex;
      gap: 6px;
      font-size: 12px;
      color: #aaa;
    }
  }
}

@keyframes rotateLoop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.playerMobile {
  justify-content: space-between;
  width: 100%;
  .info {
    flex: 1;
    overflow: hidden;
  }
  .playerOperate {
    flex: 0 0 135px;
    justify-content: flex-end;
    gap: 10px;
  }
}
