.playerContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 90;
  --block-height: 50px;
}
.player {
  position: relative;
  z-index: 90;
  background: linear-gradient(to right, #302d2e, #444, #302d2e);
  color: #fff;
  box-shadow: 0 0 6px #302d2e;
  margin: 0 auto;
  height: var(--block-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  .operateButtons {
    display: flex;
    align-items: center;
    gap: 20px;
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      opacity: 0.7;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    .prev,
    .next {
      font-size: 24px;
    }
    .play {
      font-size: 34px;
    }
    .modeIcon {
      font-size: 22px;
    }
    .musicListIcon {
      display: flex;
      align-items: center;
      font-size: 22px;
      background-color: #111;
      border-radius: 2px;

      .total {
        font-size: 12px;
        padding: 0 4px 0 0px;
      }
    }
  }
  .info {
    flex: 1;
    margin: 0 30px;
    .name {
      margin-bottom: 4px;
      font-size: 12px;
      padding-left: 4px;
    }
    .progress {
      height: 10px;
      width: 100%;
      background: #000;
      border-radius: 10px;
      margin-right: 10px;
      .current {
        position: relative;
        height: 10px;
        border-radius: 10px;
        background-color: #fff;
        display: flex;
        align-items: center;
        .btn {
          position: absolute;
          right: -9px;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background-color: #111;
          border: 2px solid #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          &::after {
            content: '';
            width: 4px;
            height: 4px;
            background-color: #fff;
            border-radius: 50%;
          }
        }
      }
    }
    .duration {
      font-size: 12px;
      color: #aaa;
      display: flex;
      gap: 4px;
      align-items: center;
      line-height: 1;
    }
  }
}
.operateLink {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.playerList {
  position: absolute;
  z-index: 89;
  width: 100%;
  max-width: var(--max-width);
  bottom: var(--block-height);
  background-color: #333;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: all 0.3s;
  &.show {
    transform: translateX(-50%) translateY(0);
  }
  :global {
    /* 自定义滚动条轨道 */
    ::-webkit-scrollbar-track {
      background-color: #333;
    }

    /* 自定义滚动条滑块 */
    ::-webkit-scrollbar-thumb {
      background-color: #666;
      border-radius: 10px;
    }
  }
  .header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 20px;
    border-bottom: 1px solid #111;
    line-height: 1;
    .title {
      font-size: 16px;
    }
    .searchInput {
      height: 26px;
      width: 200px;
      font-size: 12px;
      color: #aaa;
      background-color: #111;
      border-color: #111;
    }
    .operateLink {
      font-size: 12px;
    }
    .operateButtons {
      display: flex;
      align-items: center;
      gap: 15px;
    }
    .close {
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 4px;
      &:hover {
        background-color: #111;
      }
    }
  }
  .list {
    max-height: 320px;
    overflow-y: auto;
    padding-bottom: 100px;

    .item {
      display: flex;
      align-items: center;
      padding: 7px 15px 7px 4px;
      font-size: 12px;
      color: #ccc;
      cursor: pointer;
      &.active {
        background-color: #222;
      }
      .icon {
        font-size: 18px;
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .name {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .operate {
        display: none;
        gap: 1em;
        margin: 0 2em;
        span {
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &:hover {
        color: #fff;
        background-color: #111;
        .operate {
          display: flex;
        }
      }
    }
  }
}
