.musicOrder {
  padding: 0 20px;
  width: 100%;
  .card {
    margin-bottom: 30px;
    .cardHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-size: 20px;
      }
    }
  }
}

.musicOrderItem {
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  margin-top: 10px;
  &:hover {
    border-color: var(--main-color);
  }
  .info {
    .name {
      font-size: 18px;
    }
    .desc {
      color: #666;
    }
  }
  .operate {
    display: flex;
    gap: 15px;
  }
}
