.Container {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 30px;
  gap: 16px 20px;
  .Item {
    flex: 0 0 256px;
    margin: 0;
  }
}
.ContainerForMobile {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 16px 100px;
  gap: 20px 16px;
}

.ItemForMobile {
  width: 100%;
  margin: 0;
}
