.list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  .item {
    width: 200px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    height: 60px;
    &:hover {
      border-color: rgb(var(--main-color));
      .name {
        color: rgb(var(--main-color));
      }
    }
    .name {
      font-size: 16px;
    }
    .desc {
      margin-top: 4px;
    }
    .desc,
    .total {
      font-size: 12px;
      color: #666;
    }
  }
}
