.form {
  padding: 0 30px;
  max-width: 600px;
  width: 100%;
  :global {
    .ui-form-item-label {
      flex: 0 0 90px;
    }
  }
}
.subTitle {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 700;
}
