* {
  box-sizing: border-box;
  font-family: 'PingFang SC', HarmonyOS_Regular, 'Helvetica Neue', 'Microsoft YaHei', sans-serif;
}

html,
body {
  border-radius: 4px;
  margin: 0;
  padding: 0;
}

.i-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

// /* 隐藏滚动条 */
// ::-webkit-scrollbar {
//   width: 6px;
// }

// /* 自定义滚动条轨道 */
// ::-webkit-scrollbar-track {
//   background-color: #fff;
// }

// /* 自定义滚动条滑块 */
// ::-webkit-scrollbar-thumb {
//   background-color: #aaa;
//   border-radius: 10px;
// }

// table {
//   width: 100%;
//   border-collapse: collapse;
//   td,
//   th {
//     text-align-last: left;
//     padding: 6px 10px;
//   }
//   tbody {
//     tr {
//       &:nth-child(2n-1) {
//         background-color: #f1f1f1;
//       }
//     }
//   }
// }
