.container {
  padding: 30px 30px 200px;
  width: 100%;
}
.ContainerForMobile {
  padding: 30px 16px 200px;
  width: 100%;
  min-height: 100px;
}
.subTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-bottom: 16px;

  .name {
    font-weight: 700;
  }
  .operate {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
  }
}
.operateItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 4px;
  &:hover {
    color: rgb(var(--font-active-color));
  }
}

.settingItem {
  margin-bottom: 18px;
  :global {
    label {
      margin-bottom: 4px;
      display: block;
      &::after {
        content: ':';
        margin: 0 4px;
      }
    }
  }
  .content {
    font-size: 12px;
    display: flex;
    gap: 12px;
    .operateBtn {
      color: rgb(var(--main-color));
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.divider {
  height: 1px;
  background: #303030;
  margin: 30px 0;
}
.aboutLink {
  font-size: 14px;
  color: rgb(var(--font-active-color));
}
